apiVersion: v1
kind: ConfigMap
metadata:
  name: jmx-exporter-config
  namespace: jenkins
data:
  JAVA_OPTS: >-
    -Dcom.sun.management.jmxremote
    -Dcom.sun.management.jmxremote.port=9999
    -Dcom.sun.management.jmxremote.rmi.port=9999
    -Dcom.sun.management.jmxremote.authenticate=false
    -Dcom.sun.management.jmxremote.ssl=false
    -Dcom.sun.management.jmxremote.local.only=false
    -Djava.rmi.server.hostname=127.0.0.1
    -javaagent:/opt/jolokia.jar=port=8778,host=0.0.0.0
  jmx-exporter-config.yaml: |-
    startDelaySeconds: 0
    ssl: false
    lowercaseOutputName: true
    lowercaseOutputLabelNames: true

    rules:
      - pattern: ".*"
