services:
  tomcat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tomcat
    environment:
      - JENKINS_HOME="/var/jenkins_home"
      - JENKINS_PREFIX="/jenkins"
      - CATALINA_OPTS="-javaagent:/opt/jolokia.jar=port=8778,host=0.0.0.0"
    volumes:
      - "jenkins:/var/jenkins_home"
    ports:
      - 8080:8080
      - 8778:8778
    restart: on-failure
    cpus: 1.0
    mem_reservation: 1G
    mem_limit: 2G
    networks:
      - tomcat

networks:
  tomcat:
    name: tomcat
    driver: bridge

volumes:
  jenkins:
    name: jenkins_home
    external: false