services:
  tomcat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tomcat
    ports:
      - 8080:8080
      - 8778:8778
    restart: on-failure
    cpus: 1.0
    mem_reservation: 1G
    mem_limit: 2G
    networks:
      - tomcat

networks:
  tomcat:
    name: tomcat
    driver: bridge
